main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  margin: 2rem 3rem;
  min-height: 0;
  overflow: auto;
}

main > .eating-place-top-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.eating-place-top-section .eating-place-radio-group {
  display: flex;
  gap: 13px;
}
.eating-place-bottom-section .eating-place-select {
  display: flex;
}

.eating-place-radio-group {
  text-wrap: nowrap;
}

/* Mobile L - 425px */
@media (max-width: 425px) {
  .eating-place-top-section {
    display: flex;
    flex-direction: column;
  }
}

.eating-place-list::-webkit-scrollbar {
  display: none;
}

.eating-place-list {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.eating-place-list-item img {
  width: 36px;
  height: 36px;
  padding: 5px;
  background: black;
  border-radius: 100%;
}

.eating-place-list-item {
  display: grid;
  width: 100%;
  grid-template-columns: 50px 1fr;
  gap: 10px;
}

.eating-place-list-item-box-title {
  font-weight: bold;
}

.eating-place-list-item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.eating-place-list-item-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eating-place-list-item-box .description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 3줄까지만 표시 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
